<div class="container" dir="rtl" style="margin-top: 30px;">
  <div class="row">
      <div class="col-xs-12">
          <button class="btn btn-primary" (click)="onlyFalse = !onlyFalse">نمایش اعداد فرد</button>
      </div>
      <br><br>
      <ul class="list-group">
          <div *ngIf="onlyFalse">
              <li class="list-group-item"
                  *ngFor="let odd of oddNumber"
                  [ngClass]="{odd: odd % 2 !== 0}"
                  [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'Yellow':'transparent'}"
              >
                  {{odd}}
              </li>
          </div>
          <div *ngIf="!onlyFalse">
              <li class="list-group-item"
                  *ngFor="let even of evenNumber"
                  [ngClass]="{even: even % 2 === 0}"
                  [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'Black':'transparent'}"
              >
                  {{even}}
              </li>
          </div>
      </ul>
  </div>
</div>