<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>عنوان</label>
            <input type="text" class="form-control" [(ngModel)]="titleTour">
        </div>
        <div class="form-group">
            <label>توضیحات</label>
            <input type="text" class="form-control" [(ngModel)]="descTour">

        </div>
        <button class="btn btn-primary" (click)="onCreateTour()">
            اضافه کردن کاربر
        </button>
    </div>
</div>