<br>
<br>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h5>{{ account.name }}</h5>
        <hr>
        <p>وضعیت این حساب کاربری: {{ account.status }}</p>
        <button class="btn btn-default" (click)="onSetTo('فعال')">تغییر وضعیت به «فعال»</button>
        <button class="btn btn-default" (click)="onSetTo('غیرفعال')">تغییر وضعیت به «غیرفعال»</button>
        <button class="btn btn-default" (click)="onSetTo('مخفی')">تغییر وضعیت به «مخفی»</button>
    </div>
</div>