<p>
  tours works!{{name}}


</p>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="OnCreateServer()">سرور جدید</button>
<h3>{{serverContent}}</h3>
<input type="text" id="description" class="form-control" [(ngModel)]="serverContent">


<h3>{{serverCreationStatus}}</h3>
<!-- <app-tour *ngFor="let name1 of names" [name]=name1> </app-tour> -->

<p *ngIf="serverCreation">سرور جدید با موفقیت اضافه شد نام سرور</p>


<p *ngIf="serverCreation; else noServer">TRUE TRUE TRUE</p>
<ng-template #noServer>
<p>else else else</p>
</ng-template>
<style>
  .online{
    color: blue
  }
</style>


<app-tour [initS]="changeServerList"
            (localServerCreated)="onLocalServerAdded($event)"            >
</app-tour>
<div class="row">
    <hr>
    <div class="col-xs-12">
        <div class="panel panel-default" *ngFor="let serverData of serverDataFromChild">
            <div class="panel-heading">{{serverData.name}}</div>
            <div class="panel-body">{{serverData.content}}</div>
        </div>
    </div>
</div>