<div class="borderBlackWhite">
    <div>
        <h5>{{ tour.title }}</h5>
        <!-- <input type="text" value="{{tour.Title}}"   (input)="onUpdateTitle($event)" /> -->
        <hr>
        <p>وضعیت این حساب کاربری: {{ tour.description }}</p>


        <a class="btn btn-primary" [routerLink]="['/Tours', tour.id, 'edit']" [queryParams]="{allowEdit: 1}" [fragment]="'loading'"
            href="#">
            ویرایش </a>
        <button class="btn btn-danger" (click)="onDeleteTour(tour.id)">
            حذف
        </button>
    </div>
</div>
