<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>

      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
       
      <div class="container" dir="rtl" style="margin-top: 30px;">
        <div class="row">
            <div class="col-xs-12">
                <app-new-account></app-new-account>
            </div>
        </div>
        <hr>
        <app-account
                *ngFor="let acc of accounts; let i= index"
                [id]="i"
                [account]="acc"
        >
        </app-account>
    </div> 

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
